window {
  border-radius: 10px;
}

#input {
  margin: 8px;
}

#inner-box {
  margin: 6px;
}

#entry {
  padding: 6px;
  border-radius: 6px;
}

#entry:selected {
  background: rgba(255, 255, 255, 0.08);
}
